<a href="https://colab.research.google.com/github/ElvinGuluzade/DataScience/blob/main/Copy_of_Homework1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Q1-Get your name and age as input and print it in the form like
#Your name is Hulisi. Your age is 43
name=input('What is your name? ')
age=input('What is your age? ')
print("Your name is ",name, ". Your age is ", age)

What is your name? Hulusi
What is your age? 43
Your name is  Hulusi . Your age is  43

In [ ]:
#Q2-Write a if statement for a given two number is equal or not
a=43
b=54
if (a==b):
  print("a is equal to b")
else:
  print("a is not equal to b")

a is not equal to b

In [ ]:
#Q3-Write a if statement for first number is greater (a), equal or less than second number.(b)
a=43
b=54
if (a>=b):
  print("a is greater than b")
elif (a==b):
  print("a is equal to b")
else:
  print("a is less than b")

a is less than b

In [1]:
#Q4- Using for loop, print 1,2,3,4,5
for k in range(1,6):
  print(k)

1
2
3
4
5

In [2]:
#Q5-Using while loop, print 5,4,3,2,1
a=6
while (a>1):
  a=a-1
  print(a)

5
4
3
2
1

In [ ]:
#Q6- Using for loop, print 10,6,4,2,0
#Hint Print if number is not equal to 8.

for j in range(10,-1,-2):
  if (j==8):
    continue
  else:
    print(j)

10
6
4
2
0

In [7]:
#Q7-Write a method to calculate age for a given date of birth year.
#Use this method on orer to calculate age of person if date of birth is 1944
# if age is the name of function, print(age(1944))


def age(birthdate):
  return 2022-birthdate
print(age(1981))

41

In [17]:
#Q8-Write a class named arithmetic with method for calculating addition, substraction, multiplication and division of two numbers.

class arithmetic:
  def addition(k,l):
    return k+l
  def multiplication(k,l):
    return k*l
  def division(k,l):
    return k/l
  def substraction(k,l):
    return k-l

print(arithmetic.multiplication(18,9))

162

In [6]:
#Q9- write a for loop or method  to calculate summation of first n numbers
#i.e if n=3, it will print or return 6 (1+2+3)

def seq_sum(n):
  sum=0
  for i in range(n):
    sum = sum + i
  return sum
print(seq_sum(10))

45

In [8]:
#Q10-Generate 10 numbers between 0 and 1 and add into list. Print first three elements of that list. 

t = []
for n in range(0,11):
  t.append(n)
print(t[0:3])

[0, 1, 2]

In [10]:
#Q11-For a given number n, print numbers divisible by 3 up to that number(n included)
#Example: if n=15, print 3,6,9,12,15
#Hint you can use modulus statement (if (i%3==0))
n=15

for i in range(1,n+1):
  if i%3==0:
    print(i)
  else:
    pass

3
6
9
12
15